body{
  max-width: 920px;
  margin: 0px auto;
  padding-bottom: 100px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #F0F8FF;
}

h1{
  margin: 50px;
}

h1{
  text-align: center;
}


#container{
  position: relative;
}

#sections{
  // width: 340px;
  width: auto;
  position: relative;
  margin: 0px auto;
}


#sections > div{
  background: #fff;
  // opacity: 0.2;
  // margin-bottom: 200px;
  // padding: 10px;
  padding: 20px 18px;
  border: 1px solid #d2d2d2;
  box-shadow: -1px -1px 5px -1px rgba(0, 0, 0, 0.19), 3px 4px 5px 0px
    rgba(0, 0, 0, 0.19);
    border-radius: 5px;
  // border-top: 1px solid;
  // border-bottom: 1px solid;
  margin-bottom: 80vh;


}

#sections > div:last-child{
  margin-bottom: 30px;
  top:50%;
  transform:translateY(-150%);
}
#sections > div.graph-scroll-active{
  opacity: 0.9;
}

#graph{
  margin-left: 40px;
  // width: 500px;
  width:100%;
  position: -webkit-sticky;
  position: sticky;
  top: 30px;
  // float: right;
  margin-left: 0px;
  float:none;
}
pre{
  overflow: hidden;
}


@media (max-width: 925px)  {
  #graph{
    width: 100%;
    margin-left: 0px;
    float: none;
  }

  #sections{
    width: auto;
    position: relative;
    margin: 0px auto;
  }

  #sections > div{
    padding: 10px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    margin-bottom: 80vh;
  }

  pre{
    overflow: hidden;
  }

  h1{
    margin: 10px;
  }
}



.mono{
  font-family: monospace;
}

svg{
  // background-color: #fff;
}

line.node-link, path.node-link {
  fill: none;
  // stroke: black
}
circle.node {
  // fill: white;
  // stroke: black
}
circle.node+text {
  text-anchor: middle;
}
text {
  font-family: sans-serif;
  pointer-events: none;
}
